
<footer>
          <p>Manuel G | {{getAnio}}</p>
      </footer>

      <script src="assests/js/jquery.min.js"></script>
      <script src="assests/js/popper.min.js"></script>
      <script src="assests/js/bootstrap.min.js"></script>
</body>
</html>