


   {{> head}}

    {{> navbar}}

        <div class="row">

            <div class="col-8">
                <h1>Sitio web Dinámico con Node JS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, non!</p>
            </div>
    <div class="col-4">

        <img src="assests/img/img.node.png" class="img-thumbnail" alt="img">
    </div>
            
        </div>
    

      {{> footer}}